.App {
  /* text-align: center; */
  background: #EAE7ED;
  height: 100vh;
}


body {
  background: #EAE7ED;
}
/* 
.Nav{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
a{
  color: white;
    font-family: "Pacifico", cursive;
    text-decoration: none;
    font-style: italic;
} */


.containerWrapper{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
