.App {
  /* text-align: center; */
  background: #EAE7ED;
  height: 100vh;
}
.containerWrapper{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.cardContainer{
  border: 1px solid red;
  width: 300px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.card{
  border: 1px solid black;
  width: 200px;
}